<div class="panel panel-default form-horizontal">
	<div class="panel-heading">
		Black Jack
	</div>
	<div class="panel-body">
		<div class="form-group form-group-sm">
			<label for="txt-playerCount" class="col-sm-2 control-label">Number of players:</label>
			<div class="col-sm-3">
				<input type="number" name="input" ng-model="playercount" min="0" max="99" required>
			</div>
			<div class="col-sm-3">
				<button ng-click="startNewGame()" class="btn btn-primary">New Game</button>
			</div>
		</div>

		<div class="alert" ng-class="statusClass()">
			Game is: <b>{{ game.status ? 'ACTIVE' : 'OVER' }}</b> | Deck size: {{ game.deck.cards.length }}
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered" id="my-table">
					<thead>
						<th>Player Type</th>
						<th>Player Id</th>
						<th>Cards</th>
						<th>Total</th>
						<th>Status</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr ng-repeat="player in players">
							<td>
								{{ player.isDealer ? 'Dealer' : 'Player'}}
							</td>
							<td>
								{{ player.id }}
							</td>

							<td>
								<span ng-repeat="card in player.hand.cards">{{ card.visual() }} &nbsp;&nbsp;&nbsp;</span>
							</td>

							<td>
								{{ player.hand.total() }}
							</td>

							<td>
								{{ player.status }}
							</td>

							<td>
								<div ng-if="!player.isDealer">
									<button ng-click="hit(player)" ng-disabled="disableControls(player)" class="btn btn-sm btn-danger">Hit</button>
									<button ng-click="stick(player)" ng-disabled="disableControls(player)" class="btn btn-sm btn-success">Stick</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-sm-3">
					<label>Winners:</label>
					<ul>
						<li ng-repeat="player in game.winners">
							{{ player.id }}
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<label>Draws:</label>
					<ul>
						<li ng-repeat="player in game.draws">
							{{ player.id }}
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<label>Losers:</label>
					<ul>
						<li ng-repeat="player in game.losers">
							{{ player.id }}
						</li>
					</ul>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>